.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 9px solid black;
  padding: 0 12vw;
}

.logo {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-variation-settings: "wght" 800;
  font-style: normal;
  font-size: 1.3rem;
}

.logo span {
  color: #fdd700;
}

.links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  position: relative;
  transition: all 1s ease-in-out;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease-in-out;
  left: 0;
  top: 0;
}

.links a:hover {
  color: #ff0000;
  left: 5px;
  top: 5px;
}

.hireme button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #fe6a00;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 8px 30px;
  border: 4px solid #1a1a1a;
  box-shadow: 5px 5px black;
  outline: none;
}

.hireme .send-icon {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 clamp(2rem, 3vw, 4.5rem);
  }

  .links {
    display: none;
  }
}
